{% extends 'base.html' %}

{% block title %}Login - CareerGuide Pro{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0">Sign In</h4>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </form>
          <div class="text-center mt-3">
            <p>Don't have an account? <a href="{% url 'register' %}">Register here</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}