{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile - CareerGuide Pro{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">My Profile</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ user_form|crispy }}
                    {% if profile_form %}
                        {{ profile_form|crispy }}
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Update Profile</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}